
/* added starting curly brace changed body font-size to 16px*/
body {
  font-size: 16px;
}

/* added ending curly brace, margin-top to auto and changed height to 150px  */
nav {
  background color: yellow;
  margin-top: -auto1;
  height: 150px;
  position: fixed;
  width: 100%;
}

/* made section 75% */
section {
  margin: 0 auto;
  width: 75%;
}

/* added colon to font-family */
h1 {
  font-family: sans-serif;
  font-size: 2em;
}

/* added colon to text alignment and consolidated font-size attribute */
.example, h3 {
  font-size: 1.3px;
  padding-top: 30px;
  text-align: center
}

/* added colon for margin, added ending curly brace, changed height to 80px and changed background to gray*/
.element {
  background-color: gray;
  height: 80px;
  margin: 10px 0;
  width: 100%;
}

/* added .last class for the last 3 divs*/

.last {
    background-color: yellow;
    height: 80px;
    margin: 10px 0;
    width: 100%;
}
